# FASTQ ulazni fajlovi
*.fq.gz
*.fastq.gz

# Referentni genom i BWA indeksi
reference/

# Poznate varijante (preveliki)
known_sites_chr11.vcf.gz
known_sites_chr11.vcf.gz.tbi
known_sites_chr11_fixed.vcf.gz
known_sites_chr11_fixed.vcf.gz.tbi

# GATK folder
gatk-4.5.0.0/

# BAM/SAM fajlovi
*.bam
*.bai
*.sam

# Logovi
results/logs/

# BAM rezultati (preveliki za GitHub)
results/02_alignment/
results/03_processing/

# Privremeni fajlovi
*.tmp
*.tmp.bam
*.tmp.sam
.*.done

# Python cache
__pycache__/
*.pyc

# Razno
rename.txt
results_manifest.json